*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#container{
    background-color: aquamarine;
    min-height: 100vh;
    display: flex;
    
}

#container2{
    padding: 50px 0px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#animal-card{
    
    align-items: center;
}

#card-head{
    width: 10px;
}

#card-body{
    /* margin: 150px 0px; */
    line-height: 30px;
    background: white;
    padding: 15px;
    border-radius: 20px;
}